<!DOCTYPE html>
<html>
<head>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>Nombre: <%= nombre %></h1>
    <h1>Edad: <%= edad %></h1>
    <h1>NSS: <%= nss %></h1>
    <h1>Tipo de Sangre: <%= tipoSangre %></h1>
</body>
</html>
